spring:
  application:
    name: didim-log

  data:
    mongodb:
      uri: mongodb://localhost:27017/didimlog

  redis:
    host: localhost
    port: 6379

logging:
  level:
    root: INFO

app:
  server:
    url: ${SERVER_URL:http://localhost:8080}

